// resets
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
}

// body
body {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  // flex-direction: column-reverse;
  // position: relative;
  background: url("../../images/sandDunes.jpg") no-repeat center/cover;
  height: 100vh;
  overflow: hidden;
}

// general sign styles
.sign-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  // transition: 2s;
  // position: relative;
}

.sign-post {
  background-color: gray;
  height: 50vh;
  width: 5rem;
}

.how-to-play-sign, .white-border-wrapper {
  position: relative;
  top: 10rem;
}

// speed limit sign
.speed-limit-sign-wrapper {
  position: absolute;
  transform: translate(5000%);
  transition: 1s;
  // transition: 2s;
}

.white-border-wrapper {
  border: 0.4rem solid white;
}

.sign {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // position: relative;
  // top: 10rem;
  background-color: white;
  border-width: 1.5rem;
  border-style: solid;
  padding: 2rem;
  text-align: center;
  width: 26.4rem;
  height: 32rem;
  z-index: 2;

}
.speed-limit-sign {
  border-color: black;

  .sign-labels {
    font-size: 4rem;
  }
  .speed-limit-posting {
    font-size: 8rem;
    font-weight: 700;
  }
}

.how-to-play-sign-wrapper {
  transition: 2s;
}
.how-to-play-sign {
  // display: none;
  gap: 1rem;
  border-color: white;
  border-width: 1rem;
  background-color: green;
  color: white;


  h2 {
    font-size: 3.5rem;
    line-height: 1;
  }

  p, button {
    font-size: 2rem;
  }
  button {
    color: white;
    border: 0.2rem solid white;
    padding: 0.5rem 2rem;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      transform: rotate(-10deg);
      transition: 0.2s;
    }
  }
}

// javascript styles
.move-in {
  transform: translate(0%)
}

.move-out {
  transform: translate(-5000%);
}
