// resets
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
}

// body
body {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  // flex-direction: column-reverse;
  background: url("../../images/sandDunes.jpg") no-repeat center/cover;
  height: 100vh;
  overflow: hidden;
}

.white-border-wrapper {
  border: 0.2rem solid white;
}
.sign-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sign-post {
  background-color: gray;
  height: 50vh;
  width: 5rem;
}

// speed limit sign
.white-border-wrapper {
  position: absolute;
  top: 15rem;
  border: 0.4rem solid white;
  z-index: 2;

}

.speed-limit-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border: 1.5rem solid black;
  padding: 2rem;
  text-align: center;
  width: fit-content;
  height: 32rem;

  .sign-labels {
    font-size: 4rem;
  }
  .speed-limit-posting {
    font-size: 8rem;
    font-weight: 700;
  }

}
