* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: url("../images/sandDunes.jpg") no-repeat center/cover;
  height: 100vh;
  overflow: hidden;
}

.sign-wrapper {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sign-post {
  background-color: gray;
  height: 50vh;
  width: 5rem;
}

.how-to-play-sign,
.white-border-wrapper {
  position: relative;
  top: 13rem;
}

.speed-limit-sign-wrapper {
  position: absolute;
  -webkit-transform: translate(5000%);
          transform: translate(5000%);
  -webkit-transition: 1s;
  transition: 1s;
}

.white-border-wrapper {
  border: 0.4rem solid white;
}

.sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-width: 1.5rem;
  border-style: solid;
  padding: 1rem;
  text-align: center;
  width: 26.4rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 2;
}

.speed-limit-sign {
  border-color: black;
}

.speed-limit-sign .sign-labels {
  font-size: 4rem;
}

.speed-limit-sign .speed-limit-posting {
  font-size: 8rem;
  font-weight: 700;
}

.how-to-play-sign-wrapper {
  -webkit-transition: 2s;
  transition: 2s;
}

.how-to-play-sign {
  gap: 1rem;
  border-color: white;
  border-width: 1rem;
  background-color: green;
  color: white;
}

.how-to-play-sign h2 {
  font-size: 3.5rem;
  line-height: 1;
}

.how-to-play-sign p,
.how-to-play-sign button {
  font-size: 2rem;
}

.how-to-play-sign button {
  color: white;
  border: 0.2rem solid white;
  padding: 0.5rem 2rem;
  background-color: transparent;
  cursor: pointer;
}

.how-to-play-sign button:hover {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.answer-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

.possible-answer {
  font-size: 3rem;
  background-color: transparent;
  border: 0.2rem solid black;
  border-radius: 1rem;
  padding: 0.5rem;
  width: 100%;
  cursor: pointer;
}

.move-out {
  -webkit-transform: translate(-5000%);
          transform: translate(-5000%);
}

.move-back {
  display: none;
}

.move-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(0%);
          transform: translate(0%);
}

.correct-answer {
  background-color: green;
  color: white;
}

.incorrect-answer {
  background-color: red;
  color: white;
}
/*# sourceMappingURL=styles.css.map */